<div class="user-story">
  <div class="user-card">
    <div class="user-image">
      <%= cl_image_tag @user.picture, class: "avatar-user-card", width: 150, height: 150, crop: :thumb, gravity: :face %>
      <br>
      <p><a href= <%= @user.instagram %>><i class="fab fa-instagram"></i></a></p>
    </div>
    <div class="user-info">
      <p><strong><%= @user.name %></strong></p>
      <p><%= @user.location %></p>
    </div>
  </div>
  <div class="user-about">
    <p><%= @user.bio %></p>
  </div>
</div>


<div id="profile-h2">
  <h2><%= @user.name.capitalize %> joined Campaigns</h2>
  <% if @user.campaigns.empty? %>
    <br>
    <h2>Whoops - <%= @user.name.capitalize %> hasn't joined any campaigns yet!</h2>
    <br>
  <% end %>
</div>

<div id="profile-campaigns-container">
  <!--Iterate over campaigns-->
  <% @user.campaigns.each do |campaign|%>

    <!--campaign cards-->
    <div class="card-campaign">

      <!--live flag-->
      <% if campaign.live %>
        <p class="live-flag">LIVE</p>
      <% end %>

      <!--image-->
      <%= link_to cl_image_tag(campaign.campaign_picture, width: 280, height: 180, :crop=>"fill"), campaign_path(campaign) %>

      <!--infos-->
      <div class="card-campaign-infos">
        <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
        <p class="date"><%= campaign.launch_date.strftime("%d. %B %Y") || 'TBD' %></p>
        <p><%= campaign.campaign_description.first(30)  %>...</p>


        <!--user avatars-->
        <div id="campaign-users">
          <% campaign.users.last(2).each do |user| %>
            <%= link_to cl_image_tag(user.picture, class: "avatar", width: 40, height: 40, crop: :thumb, gravity: :face), user_path(user) %>
          <% end %>
          <% if campaign.users.count > 3 %>
            + <%= campaign.users.count - 3 %> more
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


