<div class="user-story">
  <div class="user-card">
    <div class="user-image">
      <%= cl_image_tag @user.picture, class: "avatar-user-card", width: 150, height: 150, crop: :thumb, gravity: :face %>
    </div>
    <div class="user-info">
      <p><strong><%= @user.name %></strong></p>
      <p><%= @user.email %></p>
      <p><%= @user.bio %></p>
      <p><%= @user.location %></p>
      <p><a href= <%= @user.instagram %>>@<%= @user.name %></a></p>
      <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    </div>
  </div>
  <div class="user-about">
    <p>Participating in the campaign is one of my biggest dream ever and I hope to be able to gather many people as possible to bring awareness <em></em> to this matter. I am looking forward to exchange thoughts on this problem and mobilize trillions of people to do so too. </p>
  </div>
</div>


<div class="title_container">
  <h2>My Campaigns</h2>
</div>

<div id="card-container">
  <% @user.campaigns.each do |campaign| %>
    <div id="index-card">
      <!--campaign image-->
      <%= cl_image_tag(campaign.campaign_picture, class:"card-img") %>
      <!--campaign infos-->
      <div id="index-card-infos">
        <div>
          <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
          <p><%= campaign.campaign_description.split(/[!||.||?]/).first %></p>
          <p><%= campaign.launch_date || 'TBD' %></p>
        </div>
        <div id="campaign-users">
          <% campaign.users.each do |user| %>
            <%= link_to cl_image_tag(user.picture, class: "avatar"), user_path(user) %>
          <% end %>
        </div>
        <!-- link to participate-->
        <% if campaign.users.include?(current_user) %>
          <%= link_to 'REMOVE', campaign_selection_path(campaign, current_user), method: 'delete', class: 'index-card-btn' %>
          <%= link_to 'SHARE', '#', class: 'share-link' %>
        <% else %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

