<div class="user-story">
  <div class="user-card">
    <div class="user-image">
      <%= cl_image_tag @user.picture, class: "avatar-user-card", width: 150, height: 150, crop: :thumb, gravity: :face %>
      <br>
      <p><a href= <%= @user.instagram %>><i class="fab fa-instagram"></i></a></p>
    </div>
    <div class="user-info">
      <p><strong><%= @user.name %></strong></p>
      <p><%= @user.location %></p>
      <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    </div>
  </div>
  <div class="user-about">
    <p><%= @user.bio %></p>
  </div>
</div>


<div class="title_container">
  <h2>My Campaigns</h2>
  <% if @user.campaigns.empty? %>
    <br>
    <h2>Whoops - still no campaigns here!</h2>
    <br>
    <%= link_to 'ALL CAMPAIGNS', campaigns_path, class: "more-button" %>
  <% end %>
</div>


<div id="card-container">
  <% @user.campaigns.each do |campaign| %>
    <div id="index-card">
      <!--campaign image-->
      <%= link_to cl_image_tag(campaign.campaign_picture, class:"card-img", width: 333, height: 333, crop: :scale), campaign_path(campaign) %>
      <% if campaign.live %>
        <p class="live-flag">LIVE</p>
      <% end %>
      <!--campaign infos-->
      <div id="index-card-infos">
        <div>
          <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
          <p><%= campaign.campaign_description.split(/[!||.||?]/).first %></p>
          <p><%= campaign.launch_date.strftime("%d. %B %Y") || 'TBD' %></p>
        </div>
        <div id="campaign-users">
          <% campaign.users.each do |user| %>
            <%= link_to cl_image_tag(user.picture, class: "avatar",  width: 40, height: 40, crop: :thumb, gravity: :face), user_path(user) %>
          <% end %>
        </div>
        <!-- link to participate-->
        <% if campaign.users.include?(current_user) %>
          <%= link_to 'REMOVE', campaign_selection_path(campaign, current_user), method: 'delete', class: 'index-card-btn' %>
          <%= link_to 'SHARE', '#', class: 'share-link' %>
        <% else %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
