<h1>Internal view to create a user</h1>
<%= simple_form_for(@user) do |f| %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :name %>
<%= f.input :instagram %>
<%= f.input :location %>
<%= f.input :bio %>
<%= f.input :picture %>
<%= f.input :picture_cache, as: :hidden %>
<%= f.submit 'Create' %>
<% end %>
