<!-- Banner  -->

<div class="banner">
  <div class="frame">
    <p class="logo-big">AIM</p>
    <h1 class="tagline">Do things that <br>matter
    better, <br>together</h1>
      <%= link_to 'ALL CAMPAIGNS', campaigns_path, class: "all-campaign-btn" %>
  </div>
  <div class="d-flex">
     <%= image_tag "newspaper.png", alt:"protest", class: "picture"%>
  </div>
</div>

<div class="container">
  <div class="accordion aim-explanation" id="accordionExample">
    <div class="card part-explanation border-dark">
      <div class="card-header explanation-title" id="headingOne">
        <h2 class="mb-0 d-flex">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How we do it
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body content-how">
          Helping others benefits those in need but can be deeply rewarding to you too. Supporting a cause you believe in has a positive effect on your own life. The knowledge that you’re serving a good cause is hugely empowering and, in turn, can make you feel happier and more fulfilled.
        </div>
      </div>
    </div>
    <div class="card part-explanation border-dark">
      <div class="card-header explanation-title" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How you can participate
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body content-how">
          Against this backdrop, Aim Agency aspires to make this world a better place, together. We aim to encourage people to inspire others by participating in and donating to charitable events and good causes all around the world. Be part of a global movement and contribute to good karma through positive intent and deed.
        </div>
      </div>
    </div>
    <div class="card part-explanation border-dark">
      <div class="card-header explanation-title" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What are campaigns
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body content-how">
           Aim Agency makes it easy to find a campaign that’s working for causes important to you; wether you want to make a donation or find out how to donate your time or be of help in any way. We offer an overview of world-wide campaigns that can change your life and those of others for the better.
        </div>
      </div>
    </div>
  </div>
</div>

<!--LATEST CAMPAIGN CARDS -->
<div class="container">
  <div class="latest-campaign">
    <h1 class="latest-c">Latest Campaigns</h1>
  </div>
</div>

<br>
<br>
<div class="cause-container">
  <% @campaigns.sample(3).each do |campaign|%>

    <!--campaign cards-->
    <div class="card-campaign">

      <!--live flag-->
      <% if campaign.live %>
        <p class="live-flag">LIVE</p>
      <% end %>

      <!--image-->
      <%= link_to cl_image_tag(campaign.campaign_picture, width: 280, height: 180, :crop=>"fill"), campaign_path(campaign) %>

      <!--infos-->
      <div class="card-campaign-infos">
        <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
        <p class="date"><%= campaign.launch_date.strftime("%d. %B %Y") || 'TBD' %></p>
        <p><%= campaign.campaign_description.first(30)  %>...</p>
      </div>
    </div>
  <% end %>
</div>

<div class="more-campaign-button">
  <%= link_to 'MORE', campaigns_path, class: "more-button .more-button:hover"  %>
</div>




