<div id="cause_container">
  <!--Iterate over campaigns-->
  <% @fundraisers_campaigns.each do |campaign|%>
    <div id="index-card">
      <!--campaign image-->
      <%= image_tag("https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?v=1530129081") %>
      <% if campaign.users.include?(current_user) %>
        <p class="btn btn-success" class="joined-button">Joined</p>
      <% end %>
      <!--campaign infos-->
      <div id="index-card-infos">
        <div>
          <h2><%= campaign.title %></h2>
          <p><%= campaign.campaign_description %></p>
          <p><%= campaign.launch_date || 'TBD' %></p>
        </div>
        <div id="campaign-users">
          <% campaign.users.each do |user| %>
            <%= image_tag("https://www.changingourworld.com/wp-content/uploads/2018/01/avatar-placeholder.png", class: "avatar") %>
          <% end %>
        </div>
        <!-- link to participate-->
        <%= link_to 'Join', campaign_selections_path(campaign), method: 'post' %>
      </div>
    </div>
  <% end %>
</div>
