<div id="cause_container">
  <!--Iterate over campaigns-->
  <% @fundraisers_campaigns.each do |campaign|%>
    <div class="card-campaign">
      <% if campaign.live %>
        <p class="live-flag">LIVE</p>
      <% end %>
      <%= link_to cl_image_tag(campaign.campaign_picture, width: 333, height: 240, crop: :scale, :effect=>"grayscale"), campaign_path(campaign) %>
      <div class="card-campaign-infos">
        <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
        <p class="descript"><%= campaign.campaign_description.split(/[!||.||?]/).first  %></p>
        <p class="date"><%= campaign.launch_date.strftime("%d. %B %Y") || 'TBD' %></p>
        <div id="campaign-users">
          <% campaign.users.first(3).each do |user| %>
            <%= link_to cl_image_tag(user.picture, class: "avatar", width: 40, height: 40, crop: :thumb, gravity: :face), user_path(user) %>
          <% end %>
          <% if campaign.users.count > 3 %>
            <p>and other <%= campaign.users.count - 3 %> joined</p>
          <% end %>
        </div>
      </div>
      <!-- link to participate-->
      <% if campaign.users.include?(current_user) %>
        <%= link_to 'REMOVE', campaign_selection_path(campaign, current_user), method: 'delete', class:'index-card-btn' %>
      <% else %>
      <br>
        <%= link_to 'JOIN', campaign_selections_path(campaign), method: 'post', class:'index-card-btn' %>
      <% end %>
    </div>
  <% end %>
</div>

