<div class="cause-container">

  <!--Iterate over campaigns-->
  <% @global_warming_campaigns.last(3).each do |campaign|%>

    <!--campaign cards-->
    <div class="card-campaign">

      <!--live flag-->
      <% if campaign.live %>
        <p class="live-flag">LIVE</p>
      <% end %>

      <!--image-->
      <%= link_to cl_image_tag(campaign.campaign_picture, class:"card-campaign-img", width: 278, height: 180), campaign_path(campaign) %>

      <!--infos-->
      <div class="card-campaign-infos">
        <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
        <p class="date"><%= campaign.launch_date.strftime("%d. %B %Y") || 'TBD' %></p>
        <p><%= campaign.campaign_description.first(30)  %>...</p>


        <!--user avatars-->
        <div id="campaign-users">
          <% campaign.users.first(2).each do |user| %>
            <%= link_to cl_image_tag(user.picture, class: "avatar", width: 40, height: 40, crop: :thumb, gravity: :face), user_path(user) %>
          <% end %>
          <% if campaign.users.count >= 3 %>
            + <%= campaign.users.count - 2 %> more
          <% end %>
        </div>
        <!-- link to participate or remove-->
        <% if campaign.users.include?(current_user) %>
          <!--<p class='index-card-btn'>UNJOIN</p>-->
        <% else %>
          <%= link_to 'JOIN', campaign_selections_path(campaign), method: 'post', class:'index-card-btn' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
