<div id="cause_container">
  <!--Iterate over campaigns-->
  <% @lgbtq_campaigns.each do |campaign|%>
    <div class="card-campaign" id="index-card">
      <%= cl_image_tag(campaign.campaign_picture,  class:"card-img") %>
      <% if campaign.users.include?(current_user) %>
        <p class="joined-button">Joined</p>
      <% end %>
      <div class="card-campaign-infos">
        <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
        <p class="descript"><%= campaign.campaign_description %></p>
        <p class="date"><%= campaign.launch_date || 'TBD' %></p>
        <div id="campaign-users">
          <% campaign.users.each do |user| %>
            <%= link_to cl_image_tag(user.picture, class: "avatar"), user_path(user) %>
          <% end %>
        </div>
        <!-- link to participate-->
        <% if campaign.users.include?(current_user) %>
          <%= link_to 'REMOVE', campaign_selection_path(campaign, current_user), method: 'delete', class:'remove-link' %>
        <% else %>
        <br>
          <%= link_to 'JOIN', campaign_selections_path(campaign), method: 'post', class:'more-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
