<!-- Banner -->
<div class="header">
  <div class="d-flex">
    <%= cl_image_tag(@campaign.campaign_picture, class: 'campaign-picture',
      crop: :scale) %>
  </div>
  <div class="header-content">
    <h1><%= @campaign.title %></h1>
    <h2> <%= @campaign.campaign_description.first(100) %>...</h2>
    <p><%= @campaign.location %>, <%= @campaign.launch_date.strftime("%d. %B %Y") %></p>
    <div id="live-div">
      <span class="pulse"></span>
      <h1 id="live-stamp">live</h1>
    </div>
    <br>
    <div id="show-campaign-users">
      <% @campaign.users.each do |user| %>
        <%= link_to cl_image_tag(user.picture, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar"), user_path(user) %>
      <% end %>
    </div>
  </div>
  <%= cl_image_tag(@campaign.brand_logo, class: 'brand-logo',
      width: 70, crop: :scale) %>
</div>


<!-- Buttons -->
<div class="container-button">
  <div class="activation-button">
    <%= link_to 'All campaigns', campaigns_path, class: 'all-campaign-button all-campaign-button:hover'%>
  </div>
  <div class="activation-button">
   <% if @campaign.users.include?(current_user) %>
      <%= link_to 'Joined!', user_path(current_user), class: 'join-button all-campaign-button all-campaign-button:hover'%>
    <% else %>
      <%= link_to 'Join', campaign_selections_path(@campaign), method: 'post', class: 'join-button all-campaign-button all-campaign-button:hover' %>
    <% end %>
  </div>
</div>

<!-- Campaign description  -->
 <div class="content">
    <p><%= @campaign.campaign_description  %></p>
  </div>


<!-- Comments -->
 <% if @campaign.users.include?(current_user) %>
    <h2 class="comment-header">Share your thoughts!</h2>
      <div class="container-comments">
        <div class="new-comment">
          <div id="all-comments">
            <% if @campaign.comments.empty? %>
              <p id='empty-comment'><%= 'Be the first to leave a comment!'%></p>
            <% else %>
              <% @campaign.comments.each do |comment| %>
              <%= render 'comments/show', comment: comment %>
            <% end %>
          <% end %>
        </div>
        <br>
          <%= render 'comments/form', campaign: @campaign,  comment: @comment %>
        <br>
      </div>
    </div>
  <% end %>


