<!-- Banner -->
<div class="header">
  <div class="d-flex">
    <%= cl_image_tag(@campaign.campaign_picture, class: 'campaign-picture',
      crop: :scale) %>
  </div>
  <div class="header-content">
    <h1><%= @campaign.title %></h1>
    <h2> <%= @campaign.campaign_description.split(/[!||.||?]/).first %></h2>
    <p><%= @campaign.launch_date.strftime("%d. %B %Y") %></p>
    <br>
    <div id="campaign-users">
      <% @campaign.users.each do |user| %>
        <%= link_to cl_image_tag(user.picture, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar"), user_path(user) %>
      <% end %>
    </div>
  </div>
  <%= cl_image_tag(@campaign.brand_logo, class: 'brand-logo',
      width: 70, crop: :scale) %>
</div>

<!-- Content -->
<div class="activation-button">
  <% if @campaign.users.include?(current_user) %>
    <%= link_to 'REMOVE', campaign_selection_path(@campaign, current_user), method: 'delete', class: 'more-button more-button:hover remove-link' %>
  <% else %>
    <%= link_to 'Join', campaign_selections_path(@campaign), method: 'post', class: 'more-button more-button:hover' %>
  <% end %>
</div>

<!-- Link Back  -->
<div class="activation-button">
  <%= link_to 'BACK', campaigns_path, class: 'more-button more-button:hover' %>
</div>


<!-- Link to Asset -->
<% if @campaign.users.include?(current_user) %>
  <div class="asset">
    <%= link_to 'ASSETS', download_path, class:'more-button' %>
  </div>
<% end %>

<!-- Comments -->
<div class="container-comments">
  <div class="comments">
    <h2>Share your thoughts!</h2>
    <% if @campaign.users.include?(current_user) %>
      <div class="new-comment">
        <br>
          <%= render 'comments/form', campaign: @campaign, comment: @comment %>
        <br>
      </div>
      <div class="all-comments" id="comments">
        <% @campaign.comments.reverse.each do |comment| %>
         <%= render 'comments/show', comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


