<!-- Banner -->
<div class="header">
  <div class="d-flex">
    <%= cl_image_tag(@campaign.campaign_picture, class: 'campaign-picture',
      crop: :scale) %>
  </div>
  <div class="header-content">
    <h1><%= @campaign.title %></h1>
    <h2> <%= @campaign.campaign_description.split(/[!||.||?]/).first %></h2>
    <p><%= @campaign.launch_date.strftime("%d. %B %Y") %></p>
    <br>
    <div id="campaign-users">
      <% @campaign.users.each do |user| %>
        <%= link_to cl_image_tag(user.picture, class: "avatar"), user_path(user) %>
      <% end %>
    </div>
  </div>
  <%= cl_image_tag(@campaign.brand_logo, class: 'brand-logo',
      width: 80, crop: :scale) %>
</div>

<!-- Content -->
<div class="activation-button">
  <% if @campaign.users.include?(current_user) %>
    <%= link_to 'REMOVE', campaign_selection_path(@campaign, current_user), method: 'delete', class: 'more-button more-button:hover remove-link' %>
  <% else %>
    <%= link_to 'Join', campaign_selections_path(@campaign), method: 'post', class: 'more-button more-button:hover' %>
  <% end %>
</div>
<div class="content">
  <p><%= @campaign.campaign_description  %></p>
</div>

<!-- Link Back  -->
<div class="activation-button">
  <%= link_to 'Back', campaigns_path, class: 'more-button more-button:hover' %>
</div>

<!-- Link to Asset -->
<!-- <div class="asset">
  <p>Link to assets must be added here</p>
</div> -->

<!-- Comments -->
<div class="container-comments">
  <div class="comments">
    <h2>Share your thoughts!</h2>
    <% if @campaign.users.include?(current_user) %>
      <div class="new-comment">
        <br>
        <%= render 'comments/new' %>
        <br>
      </div>
      <div class="all-comments">
        <ul>
          <% @campaign.comments.each do |comment| %>
          <ol><%= comment.content %></ol>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
