<!-- Banner -->
<div class="header">
  <div class="d-flex">
    <%= cl_image_tag(@campaign.campaign_picture, class: 'campaign-picture',
      crop: :scale) %>
  </div>
  <div class="header-content">
    <h1><%= @campaign.title %></h1>
    <h2> <%= truncate(@campaign.campaign_description, length: 100) %></h2>
    <p><%= @campaign.launch_date.strftime("%d. %B %Y") %></p>
    <br>
    <div id="campaign-users">
      <% @campaign.users.each do |user| %>
        <%= link_to cl_image_tag(user.picture, width: 50, heigh: 50, class: "avatar"), user_path(user) %>
      <% end %>
    </div>
  </div>
  <%= cl_image_tag(@campaign.brand_logo, class: 'brand-logo',
      width: 80, crop: :scale) %>
</div>

<!-- Content -->
<div class="activation-button">
  <% if @campaign.users.include?(current_user) %>
    <%= link_to 'Unjoin', campaign_selection_path(@campaign, current_user), method: 'delete', class: 'more-button more-button:hover' %>
  <% else %>
    <%= link_to 'Join', campaign_selections_path(@campaign), method: 'post', class: 'more-button more-button:hover' %>
  <% end %>
</div>
<div class="content">
  <p><%= @campaign.campaign_description  %></p>
</div>

<!-- Link Back  -->
<div class="activation-button">
  <%= link_to 'Back', campaigns_path, class: 'more-button more-button:hover' %>
</div>
