<h1>Internal View for updating campaigns</h1>
<%= simple_form_for(@campaign) do |f| %>
<%= f.input :title %>
<%= f.input :campaign_description %>
<%= f.input :cause, collection: ['Global Warming', 'LGBTQ', 'Fundraiser'] %>
<%= f.input :location %>
<%= f.input :organisation %>
<%= f.input :launch_date %>
<%= f.input :campaign_picture %>
<%= f.input :campaign_picture_cache, as: :hidden %>
<%= f.input :brand_logo %>
<%= f.input :brand_logo_cache, as: :hidden %>
<%= f.input :live %>
<%= f.submit %>
<br>
<br>
<br>
<% if @campaign.users.include?(current_user) %>
  <%= link_to 'UNJOIN', campaign_selection_path(@campaign, current_user), method: 'delete', class: 'more-button more-button:hover remove-link' %>
<% end %>
<% end %>
<br>
<div class="container">
<% @campaign.comments.each do |comment| %>
  <%= comment.content %> | <%= link_to "🗑", campaign_comment_path(comment), method: "delete" %>
    <br>
<% end %>
</div>
