<!--Featured campaign-->
<div id="featured_campaign">
  <!--Featured campaign image-->
  <%= link_to cl_image_tag(@featured_campaign.campaign_picture, class: 'featured_campaign_img'), campaign_path(@featured_campaign) %>
  <!--Featured campaign description-->
  <div id="featured_campaign_text">
    <h1>
      <%= link_to @featured_campaign.title.upcase, campaign_path(@featured_campaign) %>
    </h1>
    <p>
      <%= @featured_campaign.campaign_description %>
    </p>
  </div>
</div>

<!--Other campaigns-->

<!--Global warming-->
<div class="title_container">
  <!--CAUSE-->
  <h2>GLOBAL WARMING</h2>
</div>
<%= render 'global_warming_cards' %>

<!--LGBTQ-->

<div class="title_container">
  <h2>LGBTQ</h2>
</div>
<%= render 'lgbtq_cards' %>


<!--Fundraisers-->

<div class="title_container">
  <h2>FUNDRAISERS</h2>
</div>
<%= render 'fundraisers_cards' %>
