<!--Featured campaign-->
<div id="featured_campaign">
  <!--Featured campaign image-->
  <%= link_to cl_image_tag(@featured_campaign.campaign_picture, height: 450, width: 500, crop: :scale), campaign_path(@featured_campaign) %>
  <!--Featured campaign description-->
  <div id="featured_campaign_text">
    <h1>
      <%= link_to @featured_campaign.title.upcase, campaign_path(@featured_campaign) %>
    </h1>
    <p>
      <%= @featured_campaign.campaign_description %>
    </p>
    <br>
    <% if !@featured_campaign.users.include?(current_user) %>
      <%= link_to 'Join', campaign_selections_path(@featured_campaign), method: 'post', class: 'more-button more-button:hover' %>
    <% end %>
  </div>
</div>

<!--Other campaigns-->

<!--Global warming-->
<div class="title_container">
  <!--CAUSE-->
  <h2>GLOBAL WARMING</h2>
</div>
<%= render 'global_warming_cards' %>

<!--LGBTQ-->

<div class="title_container">
  <h2>LGBTQ</h2>
</div>
<%= render 'lgbtq_cards' %>


<!--Fundraisers-->

<div class="title_container">
  <h2>FUNDRAISERS</h2>
</div>
<%= render 'fundraisers_cards' %>
